<html>
    <meta http-equiv="Content-Type" content = "text/html; charset = utf-8">
    <link rel="stylesheet" href="../style.css">
    <body>
        <div class="box1">
            <h1>zhangEaky's 番茄钟</h1>
        </div>
        <div class="pad">
            <input type="text">
            <button id="btn">submit</button>
        </div>
        <script src="../renderer/renderer.js"></script>
        <h2 id="time-container"></h2>
        <audio src="../somthing just like this.mp3" controls></audio>

    </body>
</html>